<h1>Détails du tournoi : {{ tournoi.nom }}</h1>
<p>ID du tournoi : {{ id }}</p>
<p>Date de début : {{ tournoi.dateDebut|date('d/m/Y') }}</p>
<p>Date de fin : {{ tournoi.dateFin|date('d/m/Y') }}</p>
<p>Lieu : {{ tournoi.lieu }}</p>
<p>Président du tournoi : {{ tournoi.president.nom }}</p>


<h2>Clubs engagés</h2>
<ul>
    {% for club in clubs %}
        <li>{{ club.nom }}</li>
    {% else %}
        <li>Aucun club engagé.</li>
    {% endfor %}
</ul>



    {% if is_granted('ROLE_ADHERANT') %}
        <div class="">
            <ul>
                <li><a href="{{ path('afficher_combat_User', { 'id': tournoi.id }) }}">Combat</a></li>
                <li><a href="{{ path('afficher_classement', { 'id': tournoi.id }) }}">Classement</a></li>
            </ul>
        </div>
    {% endif %}

<h2>Combattants inscrits</h2>
<ul>
    {% for combattant in combattants %}
        <li>{{ combattant.nom }} {{ combattant.prenom }}
            {% if combattant.categorie is not null %}
                - Poids : {{ combattant.categorie.getCategoriePoids }} kg
            {% else %}
                - Poids : Non attribué
            {% endif %}
        </li>
    {% else %}
        <li>Aucun combattant inscrit.</li>
    {% endfor %}
</ul>




<h2>Catégories de poids</h2>
<ul>
    {% for categorieTournoi in categoriesTournoi %}
        <li>{{ categorieTournoi.categorie.categoriePoids }} kg</li>
    {% else %}
        <li>Aucune catégorie associée à ce tournoi.</li>
    {% endfor %}
</ul>

<h3>Arbitres par catégorie</h3>
<ul>
    {% for categorieTournoi in categoriesTournoi %}
        <li>
            {{ categorieTournoi.categorie.categoriePoids }} kg :
            <ul>
                {% for arbitre in categorieTournoi.arbitres %}
                    <li>{{ arbitre.nom }}</li>
                {% else %}
                    <li>Aucun arbitre assigné.</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>


<a href="{{ path('app_tournoi') }}">Retour à la liste des tournois</a>
