<h1>Détails du tournoi : {{ tournoi.nom }}</h1>
<p>ID du tournoi : {{ id }}</p>
<p>Date de début : {{ tournoi.dateDebut|date('d/m/Y') }}</p>
<p>Date de fin : {{ tournoi.dateFin|date('d/m/Y') }}</p>
<p>Lieu : {{ tournoi.lieu }}</p>
<p>Président du tournoi : {{ tournoi.president.nom }}</p>


<h2>Clubs engagés</h2>
<ul>
    {% for club in clubs %}
        <li>{{ club.nom }}</li>
    {% else %}
        <li>Aucun club engagé.</li>
    {% endfor %}
</ul>



    {% if is_granted('ROLE_ADHERANT') %}
        <div class="">
            <ul>
                <li><a href="{{ path('afficher_combat_User', { 'id': tournoi.id }) }}">Combat</a></li>
                <li><a href="{{ path('afficher_classement', { 'id': tournoi.id }) }}">Classement</a></li>
            </ul>
        </div>
    {% endif %}

{% for combattant in combattants %}
    <li>{{ combattant.nom }} {{ combattant.prenom }} - Club: {{ combattant.club.nom }}
        {% if combattant.categorie is not null %}
            - Poids : {{ combattant.categorie.getCategoriePoids }} kg
        {% else %}
            - Poids : Non attribué
        {% endif %}
    </li>
{% else %}
    <li>Aucun combattant engagé.</li>
{% endfor %}



<h2>Catégories de poids</h2>
<ul>
    {% for categorie in categories %}
        <li>{{ categorie}} kg</li>
    {% else %}
        <li>Aucune catégorie associée à ce tournoi.</li>
    {% endfor %}
</ul>



<a href="{{ path('app_tournoi') }}">Retour à la liste des tournois</a>
