{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="titreH2">Classement du tournoi {{ tournoi.nom }}</h2>
    
    <a class="bouton_redirection" href="{{ path('app_tournoi_show', { id: tournoi.id }) }}">Retour au tournoi</a>
    <div class="marge">
    {% for groupe, classement in classements %}
        <h3>{{ groupe }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Classement</th>
                    <th>Combattant</th>
                    <th>Points</th>
                    <th>Combats Gagnés</th>
                    <th>Combats Perdus</th>
                    <th>Score Total</th> <!-- Nouvelle colonne pour le score total -->
                </tr>
            </thead>
            <tbody>
                {% for entry in classement %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ entry.combattant.nom }} {{ entry.combattant.prenom }}</td>
                        <td>{{ entry.points }}</td>
                        <td>{{ entry.combats_gagnes }}</td>
                        <td>{{ entry.combats_perdus }}</td>
                        <td>{{ entry.score_total }}</td> <!-- Affichage du score total -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    </div>
{% endblock %}
