{% extends 'base.html.twig' %}

{% block body %}
    <h1>Édition du combat entre {{ combat.combattant1.nom }} et {{ combat.combattant2.nom }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.scoreCombattant1) }}
        {{ form_row(form.scoreCombattant2) }}
    {{ form_end(form) }}
{% endblock %}
