{% extends 'base.html.twig' %}

{% block body %}
    <h1>Édition du combat entre {{ combat.combattant1.nom }} {{ combat.combattant1.prenom }} et 
        {{ combat.combattant2.nom }} {{ combat.combattant2.prenom }}
    </h1>

    {{ form_start(form) }}
        {{ form_row(form.scoreCombattant1) }}
        {{ form_row(form.scoreCombattant2) }}
    {{ form_end(form) }}
{% endblock %}
