{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="hero-section">
    <div class="hero-content">
        <h1>JudokaConnect</h1>
        <img src="/image/judokaconnect.png" alt="Logo JudokaConnect" class="hero-logo">
    </div>
    <div class="image-container">
        <img src="/image/code_moral.png" alt="Image judo">
    </div>
</div>


    {% if is_granted('ROLE_ADHERANT') %}
        <div class="adherant-links">
            <h2>Liens pour Adhérents</h2>
            <ul>
                <li><a href="{{ path('statistiques_combattant') }}">Statistiques</a></li>
                <li><a href="{{ path('classement') }}">Classement</a></li>
                <li><a href="{{ path('app_tournoiUser') }}">Tournoi</a></li>
                <li><a href="{{ path('app_club_User') }}">Club</a></li>
            </ul>
        </div>
    {% endif %}

    {% if is_granted('ROLE_ARBITRE') %}
        <div class="adherant-links">
            <h2>Liens pour Arbitre</h2>
            <ul>
                <li><a href="{{ path('app_tournoi') }}">Tournoi</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
