{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="register-container">
    <div class="register-form">
        <h2 class="titreH2">Inscription</h2>

        {{ form_errors(registrationForm) }}


        {{ form_start(registrationForm) }}
            <div class="form-group-register">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
            </div> 

            <div class="form-group-register">
                {{ form_label(registrationForm.prenom) }}
                {{ form_widget(registrationForm.prenom) }}
            </div>

            <div class="form-group-register">
                {{ form_label(registrationForm.nom) }}
                {{ form_widget(registrationForm.nom) }}
            </div>

            <div class="form-group-register">
                {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
            
            <div class="form-group-register">
                {{ form_label(registrationForm.role) }}
                {{ form_widget(registrationForm.role) }}
            </div>

            <div id="clubField" class="form-group-register" style="display: none;">
                {{ form_label(registrationForm.club) }}
                {{ form_widget(registrationForm.club) }}
            </div>

            <div id="categorieField" class="form-group-register" style="display: none;">
                {{ form_label(registrationForm.categorie) }}
                {{ form_widget(registrationForm.categorie) }}
            </div>

            <div class="form-group-register">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>


            <button type="submit" class="btn-connexion">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
</div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const roleField = document.querySelector('input[name="registration_form[role]"]:checked'); // Sélection du champ rôle
            const clubField = document.getElementById('clubField');
            const categorieField = document.getElementById('categorieField');

            // Fonction pour afficher ou masquer le champ du club et categorie
                    function toggleClubField() {
                const selectedRole = document.querySelector('input[name="registration_form[role]"]:checked');
                if (selectedRole && selectedRole.value === 'ROLE_ADHERANT') {
                    clubField.style.display = 'block';
                    categorieField.style.display = 'block';
                } else {
                    clubField.style.display = 'none';
                    categorieField.style.display = 'none';
                }
            }

            // Appel initial pour définir l'état du champ de club
            toggleClubField();

            // Écouteur d'événement pour les changements sur le champ de rôle
            document.querySelectorAll('input[name="registration_form[role]"]').forEach((input) => {
                input.addEventListener('change', toggleClubField);
            });
        });
    </script>
    
{% endblock %}
