{% extends 'base.html.twig' %}

{% block title %}Club de l'utilisateur{% endblock %}

{% block body %}
    <h2 class="titreH2">{{ club.club.nom }}</h2>

    <div class="clubs-container-user">
        <div class="club-details">
            <p class="club-info"><strong>Ville :</strong> {{ club.club.ville }}</p>
            <p class="club-info"><strong>Pays :</strong> {{ club.club.pays }}</p>
            <p class="club-info"><strong>Email :</strong> {{ club.club.email }}</p>
        </div>

        {% if is_granted('ROLE_PRESIDENT') %}
            <div class="club-actions">
                <ul class="actions-liste">
                    <li class="action-item"><a class="bouton_redirection" href="{{ path('app_club_update', {'club': club.club.id}) }}" class="action-link">Mettre à jour le club</a></li>
                    <li class="action-item"><a class="bouton_redirection" href="{{ path('app_club_delete', {'club': club.club.id}) }}" class="action-link">Supprimer le club</a></li>
                </ul>
            </div>
        {% endif %}

        <h3 class="adherents-titre">Adhérents : {{ club.count }}</h3>

        <ul class="club-adherants-liste">
            {% for adherant in club.adherants %}
                <li class="club-adherant-item">{{ adherant.prenom }} {{ adherant.nom }}</li>
            {% else %}
                <li class="club-adherant-item">Aucun adhérent n'est inscrit dans ce club pour le moment.</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
